@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #245510;
  --black: #000;
  --primary-bg: #f6fff1;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Container start */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 10px;
}
/* Common class */
.common-title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black);
}
.description {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: var(--black);
  margin: 30px 0px;
}
.check-text {
  font-size: 18px;
  line-height: 29px;
  color: var(--black);
}
.check-text > span {
  color: var(--primary-color);
  font-weight: bold;
}
/* Primary-btn */
.primary-btn {
  max-width: 585px;
  margin: 30px 0px;
}
.primary-btn a {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 15px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
}
.primary-btn p {
  text-align: center;
  margin-top: 10px;
  color: #9b9b9b;
  font-style: italic;
}

/* Top header start */
.top-header {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 7px;
  position: sticky;
  top: 0;
}
/* Header start */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}
.header > h2 {
  font-size: 40px;
}

/* Product-offer start */
.product-offer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.product-offer-content > h3 {
  color: red;
  font-size: 26px;
  text-decoration: none;
  margin-bottom: 15px;
}
.product-offer-content > h3 span {
  color: #505050;
  text-decoration: line-through;
  font-size: 18px;
  margin-left: 10px;
}
.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author > .comment {
  background-color: #f1f0e8;
  width: 100%;
  padding-right: 10px;
  border-radius: 10px;
  padding: 10px;
}
.author > .comment h2 {
  font-size: 17px;
}
.author > img {
  max-width: 90px;
  border-radius: 50px;
}
.extra-offer {
  background-color: var(--primary-bg);
  margin-top: 10px;
  border-radius: 10px;
}
.extra-offer > div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.extra-offer > div > h2 {
  font-size: 16px;
  margin-right: 10px;
}
.extra-offer > div > img {
  max-width: 50px;
}
.product-offer-img > img {
  width: 100%;
}

/* image slider */
.slider {
  height: 120px; /* overall slider height */
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  width: 100%; /* visible area width */
}

.slide-track {
  display: flex;
  width: calc(100px * 12); /* 12 images total */
  animation: scroll 15s linear infinite;
}

.slide {
  width: 200px; /* individual image width */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.slide img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 3)); /* move 6 images left */
  }
}
/* brand review */
.brand-review {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.brand-review img {
  max-width: 100px;
}
.brand-review p {
  font-size: 18px;
  font-weight: bold;
}
/* trust-us start */
.trust-us-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.trust-us-img img {
  width: 100%;
  border-radius: 20px;
}
.trust-us-content > div:nth-of-type(1) {
  display: flex;
  gap: 175px;
  justify-content: end;
}
/* result start */
.result {
  background-color: var(--primary-bg);
  margin: 50px 0px;
}
.result-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  padding: 40px 0px 20px 0px;
}
.result-img img {
  width: 100%;
  border-radius: 20px;
}
/* why-choose */
.why-choose-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}
.why-choose-img img {
  width: 100%;
}
/* Product-details */
.product-details {
  background-color: var(--primary-bg);
  margin: 30px 0px;
}
.product-details-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  padding: 30px 0px 25px 0px;
}
.product-details-content span {
  font-weight: bold;
}
.product-details-content ul {
  margin-right: 20px;
}
.product-details-content ul li:nth-of-type(1) {
  margin-top: -27px;
}
.product-details-content ul li:nth-of-type(2) {
  margin-top: -27px;
}
.product-details-img img {
  width: 100%;
  border-radius: 20px;
}
/* key-ingredients start */
.key-ingredients {
  margin: 70px 0;
}
.key-ingredients .container > h2 {
  text-align: center;
}
.key-ingredients .container > p {
  text-align: center;
  max-width: 825px;
  margin: auto;
  margin-top: 30px;
}
.key-ingredients .container > p span {
  font-weight: bold;
}
.key-ingredients-card-area {
  align-items: center;
  margin-top: 30px;
}
.key-ingredients-card-area img {
  max-width: 170px;
  display: block;
  margin: auto;
}
.key-ingredients-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 30px 0px;
  max-width: 830px;
  margin: auto;
  text-align: center;
}
.key-ingredients-card > h2 {
  margin-bottom: 10px;
}

/* testimonials */
.testimonials .container > img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}
.testimonials .container h2 {
  text-align: center;
  margin-top: 15px;
}
.testimonials .container p {
  text-align: center;
  margin-top: 10px;
}
.testimonials .container p span {
  font-weight: bold;
}
.testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.testimonial {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 15px;
}
.testimonial > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.testimonial > div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.testimonial > div > div:nth-of-type(1) {
  display: flex;
}
.testimonial > div > div:nth-of-type(1) > img {
  max-width: 110%;
}
.testimonial > div > div:nth-of-type(2) {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.testimonial > div > div:nth-of-type(2) > h2 {
  font-size: 14px;
  margin: 0px;
}
.testimonial > div > div:nth-of-type(2) > img {
  max-width: 20%;
  border-radius: 50px;
}
.testimonial > p {
  text-align: start !important;
  margin-bottom: 0px;
}

/* pricing */
.pricing {
  padding: 50px 0px;
}
.pricing-wrapper {
  border: 2px dashed var(--primary-color);
  background-color: var(--primary-bg);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.pricing-cart {
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}
.pricing-cart h3:nth-of-type(1) {
  text-align: center;
  margin: 25px 0 20px 0;
}
.pricing-cart p:nth-of-type(1) {
  text-align: center;
  font-size: 14px;
}
.pricing-cart p:nth-of-type(1) span {
  color: #f8c11c;
}
.pricing-cart img {
  width: 100%;
  padding: 20px 60px;
}
.pricing-cart h3:nth-of-type(2) {
  text-align: center;
  margin: -20px 0 20px 0;
  color: #d6021b;
  font-size: 17px;
}
.pricing-cart h3:nth-of-type(3) {
  text-align: center;
  margin: -5px 0 20px 0;
  font-size: 20px;
}
.pricing-cart h3:nth-of-type(3) span {
  font-size: 22px;
  color: #23a452;
}
.pricing-cart h3:nth-of-type(4) {
  font-size: 16px;
  color: #7d7d7d;
  font-weight: normal;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}
.pricing-cart div {
  display: flex;
  justify-content: center;
}
.pricing-cart div a {
  color: white;
  background-color: #9b9b9b;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 15px 10px;
}
.pricing-cart p:nth-of-type(2) {
  font-size: 16px;
  color: #7d7d7d;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pricing .two-x > h2 {
  text-align: center;
  background-color: var(--primary-color);
  font-size: 18px;
  padding: 5px 0;
  color: var(--white);
}

.faq-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.faq-container {
  max-width: 820px;
  margin: auto;
  background: #fff;
  overflow: hidden;
}

.faq-item input {
  display: none;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse; /* text right, icon left */
  padding: 18px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #f1f1f1;
  border-radius: 5px;
}

.faq-question i {
  transition: transform 0.3s;
  margin-left: 10px;
  transform: rotate(-90deg);
}

/* icon rotate when checked */
.faq-item input:checked + label .faq-question i {
  transform: rotate(90deg);
}

/* answer toggle */
.faq-item input:checked ~ .faq-answer {
  max-height: 500px; /* enough to show content */
  padding: 10px 20px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* special-offer start */
.special-offer {
  margin: 50px 15px;
}
.special-offer-area {
  max-width: 960px;
  background-color: var(--primary-bg);
  margin: auto;
  padding-bottom: 50px;
}
.special-offer-area h2 {
  text-align: center;
  padding: 30px 0px;
}
.special-offer-cart {
  max-width: 600px;
  background-color: var(--white);
  border: 1px dashed var(--black);
  padding: 10px 50px;
  margin: auto;
}
.special-offer-cart p {
  text-align: center;
}
.special-offer-area img {
  width: 100%;
  border: 2px dashed var(--black);
}
/* footer start */
footer {
  border-top: 2px solid gray;
  padding: 50px 0px;
}
.footer-top-wrapper {
  display: flex;
  justify-content: end;
  gap: 200px;
}
.footer-top-wrapper p,
a {
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
}
.footer-left-item p:nth-of-type(1) {
  font-weight: bold;
  color: var(--black);
}
.footer-left-item img {
  max-width: 370px;
  margin-top: 35px;
}
.footer-right-item p:nth-of-type(4) {
  margin-top: 20px;
}
.footer-right-item p:nth-of-type(6) {
  margin-top: 20px;
}
.footer-bottom p {
  color: gray;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
/* sticky btn */
.sticky {
  width: 100%;
  background-color: var(--primary-bg);
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 15px 10px;
}
.sticky a {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  padding: 12px 50px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .product-offer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-offer-img {
    order: 1;
  }
  .product-offer-content {
    order: 2;
  }
  .trust-us-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .result-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .result-img {
    order: 1;
  }
  .result-content {
    order: 2;
  }
  .why-choose-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-details-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-details-img {
    order: 1;
  }
  .product-details-content {
    order: 2;
  }
  .testimonials-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-top-wrapper {
    flex-direction: column;
    gap: 0px;
  }
  .footer-left-item {
    order: 1;
    margin-top: 20px;
  }
  .footer-left-item img {
    width: 100%;
    align-items: end;
  }
  .trust-us-content > div:nth-of-type(1){
    gap: 30px;
  }
  .key-ingredients-card{
    padding-left: 20px;
    padding-right: 20px;
  }
}
